node_modules
vendor
dist
build
coverage

public/vendor/**
public/js/vendor/**
assets/vendor/**
assets/libs/**

**/*.min.js
**/jquery*.js
**/bootstrap*.js
**/popper*.js
**/ionicons*.js
**/slick*.js
**/slick*.css
